build
node_modules
Nintendo-Switch-Discord-Status
Nintendo-Switch-Discord-Status.zip
Nintendo-Switch-Discord-Status-win32-x64
Nintendo-Switch-Discord-Status-win32-x64
Nintendo-Switch-Discord-Status-win32-x64.zip
Nintendo-Switch-Discord-Status-win32-x64.zip
Nintendo-Switch-Discord-Status-darwin-x64
Nintendo-Switch-Discord-Status-darwin-x64.zip
build.js
.eslintrc.js
.DS_STORE
